* {
  vertical-align: top;
  font-family: Arial;
  text-align: center;
  position: relative;
  letter-spacing: 7px;
  background-color: #a0c9cc;
}

html,
body {
  background-image: url(images/chibi-hatsune-miku-minimalist-desktop-wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;

  margin: 0px;
  padding: 0px;
}

.title {
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  background-color: #d3dbe0;
}

.title h2 {
  display: inline-block;
  margin-top: 30px;
  border-bottom: solid 2px black;
  font-size: 30px;
  background-color: #d3dbe0;
}

.title h5 {
  display: block;
  margin-top: 0px;
  font-size: 12px;
  background-color: #d3dbe0;
}

.bottom {
  height: 700px;
  width: 700px;
  margin-left: auto;
  margin-right: 55%;
}

.left,
.right {
  display: inline-block;

  height: 100px;
  box-sizing: border-box;
}

.left {
  height: 100%;
  width: 50%;
  margin-left: 0px;
}

.right {
  height: 100%;
  width: 50%;
  margin-left: 0px;
}

.rtop,
.rmiddium,
.rbottom {
  height: 40%;
  box-sizing: border-box;
}

.rmiddium {
  height: 30%;
}

.rbottom {
  height: 30%;
}

.photo,
.about,
.contact {
  box-sizing: border-box;
}

.photo img {
  height: 200px;
  border-radius: 50%;
  margin: 30px;
}

.about {
  height: 250px;
}

.about h2 {
  display: inline-block;
  margin: 20px;
  height: 30px;
  font-size: 24px;
  letter-spacing: 2px;
  border-bottom: solid 2px white;
  color: white;
}

.about p {
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: white;
  text-align: left;
  padding-left: 50px;
}

.contact h2 {
  display: inline-block;
  margin: 20px;
  margin-top: 0px;
  height: 30px;
  font-size: 24px;
  letter-spacing: 2px;
  border-bottom: solid 2px white;
  color: white;
}

.contact li {
  font-size: 14px;
  text-align: left;
  padding-left: 80px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: white;
}

.h2 {
  display: inline-block;
  margin: 20px;
  margin-bottom: -10px;
  height: 30px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  border-bottom: solid 2px white;
  color: white;
}

.h2-end {
  display: inline-block;
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;
  height: 30px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  border-bottom: solid 2px white;
  color: white;
}

.h5 {
  display: block;
  color: white;
  margin-top: 25px;
  padding: 5px;
  padding-left: 20px;
  text-align: left;
  letter-spacing: 1px;
}

.rtop .h2 {
  margin-bottom: 10px;
}

.circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-top: 10px;
  background-color: #ffc7e3;
  margin-bottom: -15px;
}

.circle1 {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-top: 10px;
  background-color: white;
  margin-bottom: -15px;
}

.outer {
  display: inline-block;
  border: solid 7px #ffc7e3;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}

.inside1 {
  width: 50px;
  height: 50px;
  right: -38px;
  top: 1px;
  overflow: hidden;
  transform: rotate(45deg);
  position: absolute;
}

.inside {
  width: 50px;
  height: 50px;
  right: -25px;
  top: -25px;
  overflow: hidden;
}

.cha {
  display: inline-block;
  font-size: 15px;
  letter-spacing: 1px;
  color: white;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
}